extends base

block content
    form(method="POST")
        input(placeholder="Email", name="email", type="email", required, value=loggedinUser.email)
        input(placeholder="Name", name="name", type="text", required, value=loggedinUser.name)
        input(type="submit", value="Update Profile")
        if !loggedinUser.socialOnly
            div
                a(href="/users/change-password") Change Password
        