extends base

block content
    if errorMessage
        span=errorMessage
    if passwordMessage
        span=passwordMessage
    form(method="POST")
        input(placeholder="Email", name="email", type="email")
        input(placeholder="Name", name="name", type="text")
        input(type="submit", value="Find Password")
        